
<fieldset class="avgrund-contents">
<legend>Legajos</legend>

        <div id="fam-advertencia" class="alert" style="text-align: center; display: none;"></div>


<div class="tabbable tabs-left" id="tabLegajos">
<ul class="nav nav-tabs" id="navLegajos">
    <li class="active"><a href="#lA" data-toggle="tab">Datos Personales</a></li>
    <li class=""><a href="#lB" data-toggle="tab">Datos de estudio</a></li>
    <li class=""><a href="#lC" data-toggle="tab">Datos familiares</a></li>
    <li class=""><a href="#lE" data-toggle="tab">Carrera Laboral</a></li>


    <button id="search" class="btn btn-primary pull-right"  type="button"><span class="glyphicon glyphicon-search"></span> Buscar Servidor</button>
</ul>
<div class="tab-content">
      <br>
     <div class="row form-group" id="block-descr" style="display: none;">
         <div class="col-md-2">
             <strong style="font-size: 15px;">DNI:<strong id="text-cod" style="font-size: 15px;color: #00585f;"></strong></strong>
         </div>
        <div class="col-md-4">
            <strong style="font-size: 15px;">Servidor:<strong id="desc-servidor" style="font-size: 15px; color: #00585f;"></strong></strong>
        </div>
         <div class="col-md-3">
             <strong style="font-size: 15px;">Cod Antiguo:<strong id="cod-ant" style="font-size: 15px; color: #00585f;"></strong></strong>

         </div>
         <div class="col-md-3">
             <strong style="font-size: 15px;">Estado:<strong id="estado" style="font-size: 15px; color: #00585f;"></strong></strong>

         </div>

         <br>
     </div>
      <div class="tab-pane active" id="lA">
          <label id="idPersonal" style="display: none;"></label>
          <form class="form-horizontal well" id="datos_personales" sav_legaj_lab="" onSubmit="return false">
              <div class="row form-group">
                  <div class="col-md-12" id="div_serv_est_pers">
                      <label class="col-md-2 control-label" for="serv_ape_pat" style="margin-left: 3.5%;">Apellidos y Nombres </label>

                      <div class="col-md-7">
                          <input type="text" id="legaj_nom_ape_per" class="form-control" disabled>
                      </div>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-6">
                      <label class="col-md-5 control-label">Tipo de Documento de Identidad </label>
                      <div class="col-md-7">
                          <input type="text" id="dni_per" class="form-control" disabled>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label class="col-md-5 control-label">Nº de Documento</label>
                      <div class="col-md-7">
                          <input type="text" id="nro_dni_per" class="form-control" disabled>
                      </div>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-6">
                      <label class="col-md-5 control-label">Sexo </label>
                      <div class="col-md-7">
                          <input type="text" id="sex_per" class="form-control" disabled>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label class="col-md-5 control-label">Estado Civil</label>
                      <div class="col-md-7">
                          <input type="text" id="est_civ_per" class="form-control" disabled>
                      </div>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="legaj_naci_per">Fecha de Nacimiento</label>

                      <div class="col-md-7">

                              <input  type="text" value="" class="form-control" id="legaj_naci_per" disabled>

                          </div>

                   </div>
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="serv_ape_pat">País de Nacimiento</label>

                      <div class="col-md-7">
                          <input type="text" id="pais_nac_per" class="form-control"  disabled>
                      </div>
                  </div>
              </div>



              <div class="row form-group">
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="depar_nac_per">Departamento de nacimiento</label>
                      <div class="col-md-7">
                          <input type="text" id="depar_nac_per" class="form-control"  disabled>
                      </div>
                  </div>
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="prov_nac_per">Provincia de nacimiento</label>

                      <div class="col-md-7">
                          <input type="text" id="prov_nac_per" class="form-control"  disabled>
                      </div>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="dist_nac_per">Distrito de nacimiento</label>
                      <div class="col-md-7">
                          <input type="text" id="dist_nac_per" class="form-control"  disabled>
                      </div>
                  </div>
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="domi_per">Domicilio</label>

                      <div class="col-md-7">
                          <input type="text" id="domi_per" class="form-control"  disabled>
                      </div>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="fono_per">Telefono</label>
                      <div class="col-md-7">
                          <input type="text" id="fono_per" class="form-control"  disabled>
                      </div>
                  </div>
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="cel_per">Celular</label>

                      <div class="col-md-7">
                          <input type="text" id="cel_per" class="form-control"  disabled>
                      </div>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-6" id="div_serv_est_per">
                      <label class="col-md-5 control-label" for="email_per">E-mail</label>
                      <div class="col-md-7">
                          <input type="text" id="email_per" class="form-control"  disabled>
                      </div>
                  </div>

              </div>

          </form>
      </div>
       <div class="tab-pane" id="lB">


    <form class="form-horizontal well" id="form_dat_estud" onsubmit="return false">
        <div class="row form-group">
            <div class="col-md-6" id="div_tip_estu">

            </div>
            <div class="col-md-6" id="div_niv_est" style="display: none;">

            </div>
        </div>
        <div class="row form-group" id="espec_certif">
            <div class="col-md-6" id="carr_estud_espec">

            </div>
            <div class="col-md-6">
                <label class="col-md-5 control-label" for="certificado">Nombre Certificado <span
                        style="color:red;">*</span></label>

                <div class="col-md-7" id="nume4">
                    <input type="text" class="form-control" id="certificado">
                </div>
            </div>

        </div>
        <div class="row form-group">
            <div class="col-md-6" id="div_pais_estu">

            </div>
            <div class="col-md-6">
                <label class="col-md-5 control-label" for="centro_estudio">Centro de estudio </label>

                <div class="col-md-7">
                    <input type="text" id="centro_estudio" class="form-control">
                </div>
            </div>

        </div>

        <br>

            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label class="control-label"> Tipo </label>
                </div>
                <div class="col-md-3">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Por Fecha
                        </label>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Por Duracion
                        </label>
                    </div>

                </div>
            </div>
       <!-- </div>   -->
        </br>

        <div class="row form-group" id="fecha">
            <div class="col-md-6">
                <label class="col-md-5 control-label">Fecha Inicio </label>

                <div class="col-md-7">
                    <div class="input-group">
                        <input type="text" value="" id="legaj_nac" class="form-control" placeholder="Ejm. 11/05/2004" readonly="">
                        <span class="input-group-btn">
                               <button class="btn btn-default" type="button" id="legaj_fech_show"><span class="glyphicon glyphicon-calendar"></span></button>
                        <button class="btn btn-default" type="button" id="legaj_fech_clos"><span class="glyphicon glyphicon-refresh"></span> </button>
                        </span>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-5 control-label">Fecha Fin </label>

                <div class="col-md-7">
                    <div class="input-group">
                        <input  type="text" value="" id="legaj_fin" class="form-control" placeholder="Ejm. 11/05/2004"  readonly="">
                        <span class="input-group-btn">
                                 <button class="btn btn-default" type="button" id="leg_fin_show"><span class="glyphicon glyphicon-calendar"></span></button>
                        <button class="btn btn-default" type="button" id="leg_fin_clos" ><span class="glyphicon glyphicon-refresh"></span></button>
                        </span>

                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group" id="periodo" style="display:none;">
            <div class="col-md-3" style="margin-left: 10.6%;">
                    <label class="col-md-5 control-label" for="anio">Años </label>

                    <div class="col-md-7" id="nume5">
                        <input type="text"  id="anio" class="form-control">
                    </div>
            </div>
            <div class="col-md-3">
                    <label class="col-md-5 control-label" for="mes">Meses </label>

                    <div class="col-md-7" id="nume6">
                        <input type="text" class="form-control"  id="mes">
                    </div>
            </div>
            <div class="col-md-3">
                    <label class="col-md-5 control-label" for="dia">Dias </label>

                    <div class="col-md-7" id="nume7">
                        <input type="text" id="dia" class="form-control">
                    </div>
            </div>

        </div>

        <div class="row form-group" id="titul_exped">
            <div class="col-md-6">
                <label class="col-md-5 control-label" >Nro Titulacion </label>

                <div class="col-md-7" id="nume3">
                    <input type="text" class="form-control" id="nro_titu">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-5 control-label">Fecha de Expedicion </label>

                <div class="col-md-7">
                    <div class="input-group">
                        <input  type="text" value="" class="form-control" id="leg_exp" placeholder="Ejm. 11/05/2004" readonly="">
                        <span class="input-group-btn">
                                   <button class="btn btn-default" type="button" id="leg_exp_show"><span class="glyphicon glyphicon-calendar"></span></button>
                        <button class="btn btn-default" type="button" id="leg_exp_clos"><span class="glyphicon glyphicon-refresh"></span></button>
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group" id="coleg_horas">
            <div class="col-md-6" id="nro_colegiatura">
                <label class="col-md-5 control-label">Nro de Colegiatura </label>

                <div class="col-md-7" id="nume2">
                    <input type="text" class="form-control" id="nro_coleg" >
                </div>
            </div>
            <div class="col-md-6" id="num_horas" style="display: none;">
                <label class="col-md-5 control-label">Nro de Horas </label>

                <div class="col-md-7" id="nume1">
                    <input type="text" class="form-control" id="horas">
                </div>
            </div>
        </div>
        <hr>
        <div class="form-actions" id="form_insert" style="text-align:center;display:none;">
            <button type="submit" class="btn btn-primary left" id="save_estudio">Guardar</button>
            <button type="reset" class="btn  btn-default left " id="cancel_estudio">Cancelar</button>
        </div>
        <div class="form-actions" id="form_update" style="text-align:center;display:none;">
            <button type="submit" class="btn btn-primary" id="update_estudio">Actualizar</button>
            <button type="reset" class="btn btn-default" id="cancel_estudio">Cancelar</button>
        </div>

    </form>
    <br>
    <form class="form-horizontal" id="form_tabla_serv">
        <div id="table-estudios">

        </div>
    </form>
    </div>

    <div class="tab-pane" id="lC">
       <label id="idfamiliar" style="display: none;"></label>
        <form class="form-horizontal well" id="datos_familiares" sav_legaj_lab="" onSubmit="return false">
            <div class="row form-group">
                <div class="col-md-12" id="div_serv_est">
                    <label class="col-md-2 control-label" for="serv_ape_pat" style="margin-left: 3.5%;">Nombre del Familiar <span style="color:red;">*</span></label>

                    <div class="col-md-7">
                        <input type="text" id="legaj_nom_ape" class="form-control">
                    </div>
                </div>
            </div>
           <div class="row form-group">
               <div class="col-md-6">
                 <label class="col-md-5 control-label">Ap. Paterno del Familiar <span style="color: red;">*</span> </label>
                 <div class="col-md-7">
                      <input type="text" id="ap_paterno" class="form-control">
                 </div>
               </div>
               <div class="col-md-6">
                 <label class= "col-md-5 control-label">Ap. Materno del Familiar <span style="color: red;">*</span></label>
                  <div class="col-md-7">
                      <input type="text" id="ap_materno" class="form-control">
                  </div>
               </div>
           </div>
            <div class="row form-group">
                <div class="col-md-12" id="div_serv_est">
                    <label class="col-md-2 control-label" for="serv_ape_pat" style="margin-left: 3.5%;">Domicilio </label>

                    <div class="col-md-7">
                        <input type="text" id="legaj_domici" class="form-control" >
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6" id="div_tip_paren">

                </div>
                <div class="col-md-6" id="div_tip_doc">

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Nº de Documento</label>

                    <div class="col-md-7">
                        <input type="text" class="form-control" id="serv_ape_pat" >
                    </div>
                </div>
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Sexo</label>

                    <div class="col-md-7">
                        <select id="sexo" class="form-control">
                            <option value="0">Seleccione Sexo</option>
                            <option value="M" >MASCULINO</option>
                            <option value="F">FEMENINO</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Fecha de Nacimiento</label>

                    <div class="col-md-7">
                        <div class="input-group">
                            <input  type="text" value="" class="form-control" id="legaj_naci" placeholder="Ejm. 11/05/2004"  readonly="">
                            <span class="input-group-btn">
                                      <button class="btn btn-default" type="button" id="legaj_nac_show" ><span class="glyphicon glyphicon-calendar"></span></button>
                            <button class="btn btn-default" type="button" id="legaj_nac_clos" ><span class="glyphicon glyphicon-refresh"></span></button>
                            </span>

                        </div>

                    </div>
                </div>
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Teléfono</label>

                    <div class="col-md-7">
                        <input type="text" id="lega_tel" class="form-control"  >
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6" id="div_est_civil">

                </div>
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Beneficiario</label>

                    <div class="col-md-7">
                        <select id="beneficio" class="form-control">
                            <option value="000">Seleccione Tipo de Benefeciario</option>
                            <option value="0">No</option>
                            <option value="1">Si</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="div_benef"  style="display:none;">
             <div class="row form-group" >
                 <div class="col-md-6" id="tipo_benef_fam">

                 </div>
                 <div class="col-md-6" id="">
                     <label class="col-md-5 control-label">Resolucion</label>
                     <div class="col-md-7">
                         <div class="input-group">
                             <input  id="fam-resolucion" class="form-control" type="text"  readonly>
                             <span class="input-group-btn">
                                   <button class="btn btn-default" type="button" id="fam-resol"><span class="glyphicon glyphicon-search"></span></button>
                             </span>

                         </div>
                     </div>
                 </div>
             </div>
            <div class="row form-group" >
                <div class="col-md-4" id="div_tip_pagos" style="margin-left: 7%;">

                </div>
                <div class="col-md-4" id="num_cuenta" style="margin-left: -4%;">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Nº de Cuenta <span style="color:red;">*</span></label>
                    <div class="col-md-7" id="nume" >
                        <input type="text" class="form-control" id="numcuenta">
                    </div>
                </div>
                <div class="col-md-4" id="tit_cuenta" style="margin-left: -3%;">
                    <label class="col-md-6 control-label" for="serv_ape_pat" style="margin-left: 16.6%;">Titular de Cuenta <span style="color: red;">*</span></label>

                    <div class="col-md-4">
                        <select id="titularcuenta" class="form-control">
                            <option value="0">No</option>
                            <option value="1">Si</option>
                        </select>
                    </div>
                </div>
            </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Nº de Seguro</label>

                    <div class="col-md-7" id="num">
                        <input type="text" class="form-control" id="lega_seguro" >
                    </div>
                </div>
                <div class="col-md-6" id="div_serv_est">
                    <label class="col-md-5 control-label" for="serv_ape_pat">Dependiente</label>

                    <div class="col-md-7">
                        <select id="depen" class="form-control">
                            <option value="000">Seleccione Dependencia</option>
                            <option value="0">No</option>
                            <option value="1">Si</option>
                        </select>
                    </div>
                </div>
            </div>
               <hr>
            <div class="form-actions" id="form_save_rts" style="text-align:center;display:none;">
                <button type="submit" class="btn btn-primary left" id="btn-fam">Guardar</button>
                <button type="reset" class="btn btn-default left" id="cancel_fam">Cancelar</button>
            </div>
            <div class="form-actions" id="form_edit_rts" style="text-align:center;display:none;">
                <button type="submit" class="btn btn-primary left" id="edit-fam-button">Editar</button>
                <button type="reset" class="btn btn-default left" id="cancel_fam">Cancelar</button>
            </div>
        </form>

        <form class="form-horizontal" id="form_tabla_serv">
            <div id="table-familiares">

            </div>
        </form>
    </div>


      <div class="tab-pane" id="lE">
<br>
          <div class="row">

              <div class="col-md-5">
                  <fieldset>
                      <legend>Carrera laboral</legend>

                      <form class="form-horizontal" id="form_tabla_carreLab_per">
                          <div id="tabla_carreLab_per">

                          </div>
                      </form>
                      <div id="sec_div" style="background: #f5f5f5;height: 482%;color: #B6D8C9;margin-top: 6.3%;width: 93%;text-align: center;padding-top: 19%;position: absolute;border: 1px solid #e3e3e3;">
                          <span style=" font-size: 31px;">Seleccione Servidor</span>
                      </div>
                  </fieldset>

              </div>
              <div class="col-md-7">
                  <fieldset>
                      <legend>Detalle</legend>

                      <form class="form-horizontal well" id="carrera_laboral" style="margin-top:4.6%;" onSubmit="return false">

                          <div class="row form-group">
                              <div class="col-md-12" id="div_depen_carre">
                                  <label class="col-md-3 control-label" for="depen_carr" >Tipo</label>

                                  <div class="col-md-8">
                                      <input type="text" id="tipo_lab" class="form-control" disabled>
                                  </div>
                              </div>
                          </div>
                          <div class="row form-group">
                              <div class="col-md-12" id="div_period_carre">
                                  <label class="col-md-3 control-label" for="perio_carr">Periodo</label>
                                  <div class="col-md-8" >
                                      <input type="text" id="periodo_lab" class="form-control"  disabled>
                                  </div>
                              </div>

                          </div>

                          <div class="row form-group">
                              <div class="col-md-12" id="div_resol_carre">
                                  <label class="col-md-3 control-label" for="resolu_carr">Resolutivo</label>
                                  <div class="col-md-7" >

                                      <textarea type="text" id="resolutivo" class="form-control" rows="4" style="width: 116%;" disabled></textarea>
                                  </div>
                              </div>

                          </div>

                      </form>
                  </fieldset>

              </div>
          </div>



      </div>









</div>
</div>
<div id="serv-table-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">

</div>
<div id="resol-table-modal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">

</div>
<div id="resol-table-fam" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">

</div>
</fieldset>






<div id="serv-table-modal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<div id="serv-table-modal7" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>El Familiar se eliminará<br/>

                        Si desea continuar haga click en aceptar. </strong>
                </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="delete-fam" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>

</div>
<div id="serv-table-modal8" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>El Familiar se eliminará<br/>

                        Si desea continuar haga click en aceptar. </strong>
                </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="continuar2" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>

</div>
<div id="serv-table-modal6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body">
                <p>
                    <strong>El Estudio del Servidor se eliminará<br/>

                        Si desea continuar haga click en aceptar. </strong>
                </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="continuar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(function(){
        $("#certificado").validXtrem(' abcdefghijklmnñopqrstuvwxyzáéiou');
        $("#serv_ape_pat").validXtrem('0123456789');
        $("#lega_seguro").validXtrem('0123456789');
        $("#lega_tel").validXtrem('0123456789');
        $("#nro_titu").validXtrem('0123456789');
        $("#horas").validXtrem('0123456789');
        $("#nro_coleg").validXtrem('0123456789');
        $("#numcuenta").validXtrem('0123456789');
    });
</script>

