
<!--<label class="col-md-5 control-label" for="cas_contr">Nro. Contrato: </label>  -->

<!-- <div class="col-md-7" >
    <label class="col-md-5 control-label"></label>
</div>-->

 <!-- <input class="col-md-5 control-label" value="" id="num_contrat_cas">    -->

<div class="col-md-12">
<strong style="font-size: 14px;">Nro. Contrato: <strong id="nroContrCasDoc" style="font-size: 14px; "></strong></strong>
</div>
