
<div class="col-md-12" style="margin-left: -4%">
    <select  id="altaCondPla" class="form-control">
        <option value="99"> Seleccione </option>
        {{#each items}}
            <option value="{{codpla}}">{{despla}}</option>
        {{/each}}
    </select>
</div>