
<div class="col-md-12" >
    <select id="catservidor" class="form-control" disabled="true">
        <option value="99"> Seleccione Categoria</option>
        {{#each items}}
            <option value="{{codcat}}">{{descat}}</option>
        {{/each}}
    </select>
</div>