
<div class="col-md-12" >
    <select id="depservidor" class="form-control" disabled="true">
        <option value="99"> Todos</option>
        {{#each items}}
            <option value="{{codces}}">{{descces}}</option>
        {{/each}}
    </select>
</div>