
<div class="col-md-12" >
    <select id="estservidor" class="form-control" disabled="true">
        <option value="99"> Seleccione Estado</option>
        {{#each items}}
            <option value="{{codest}}">{{desest}}</option>
        {{/each}}
    </select>
</div>