
<div class="col-md-12" >
    <select id="estservidorinfo" class="form-control">

        {{#each items}}
            <option value="{{codest}}">{{desest}}</option>
        {{/each}}
    </select>
</div>



