
<div class="col-md-12" >
    <select id="estservidorinfo" class="form-control">
        <option value="99"> Todos los estados</option>
        {{#each items}}
            <option value="{{codest}}">{{desest}}</option>
        {{/each}}
    </select>
</div>



