
<div class="col-md-12" >
    <select id="regpenservidor" class="form-control" disabled="true">
        <option value="99"> Seleccione Régimen Pensionario</option>
        {{#each items}}
            <option value="{{codregpen}}">{{desregpen}}</option>
        {{/each}}
    </select>
</div>