<table id="table-cambio-info-serv" class="table table-bordered table-hover" style="font-size: 10px;">
    <thead class="header" style="color: #040404;background-color:#f5f5f5" id="tabla_head">
    <tr>



    </tr>
    </thead>
    <tbody class="body_table_cis" id="tabla_serv_info_body">



    </tbody>
</table>

<style type="text/css">
    #table-cambio-info-serv_length{
        display:none;
    }

    #table-cambio-info-serv_paginate{
        position: absolute;
        margin-top: -17px;
        left: 52%;
    }
    #table-cambio-info-serv_info{
        float: left;
        margin-top: -12px;
        margin-left: 18px;
        font-size: 9px;
        color: rgb(2, 2, 2);
    }
    #table-cambio-info-serv tr{
        cursor: pointer;
    }

    #table-cambio-info-serv_previous{
        cursor: pointer;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
    #table-cambio-info-serv_next{
        cursor: pointer;
        margin-left: 19px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }

</style>