
<div class="col-md-12" >
    <select id="tipagoservidor" class="form-control" disabled="true">
        <option value="99"> Seleccione Tipo De Pago</option>
        {{#each items}}
            <option value="{{codtipago}}">{{desctipago}}</option>
        {{/each}}
    </select>
</div>