
<div class="col-md-12" >
    <select id="tiposervidor" class="form-control" disabled="true">
        <option value="99"> Todos</option>
        {{#each items}}
            <option value="{{codtipo}}">{{destipo}}</option>
        {{/each}}
    </select>
</div>