
<div class="col-md-12" >
    <select id="tiposervidorinfo" class="form-control">

        {{#each items}}
            <option value="{{codtipo}}">{{destipo}}</option>
        {{/each}}
    </select>
</div>