
<div class="col-md-12" style="margin-left: -4%">
    <select id="estadoservidorplani" class="form-control">

        {{#each items}}
            <option value="{{codest}}">{{desest}}</option>
        {{/each}}
    </select>
</div>