<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>



<fieldset>

  <legend>Cuadro Nominativo</legend>

 <div class="btn-group col-md-2 pull-right">

       <form  action="rest/reportes/cuadroNominalDependencia/pdf"  method="POST" id="form_reporteCN"  style="display: none" >

              <input type="hidden" style="display: none" id="codigoDependencia" name="codigoDependencia" >
              <input type="hidden" style="display: none" id="usuarioCN" name="usuarioCN" >
              <input type="hidden" style="display: none" id="nom_depen" name="nom_depen"  >
              <input type="hidden" style="display: none" id="anio" name="anio" >

              <button id="botonReporteCVN" class="btn btn-warning" type="submit">Reporte C.Nominal</button>


       </form>

 </div>



 <div class="btn-group col-md-2 pull-right">

        <form  action="rest/reportes/cuadroNominalTotal/pdf"  method="POST" id="form_reporteCN2"  style="display: none" >

                <input type="hidden" style="display: none" id="usuarioCN2" name="usuarioCN" >
               <input type="hidden" style="display: none" id="anio2" name="anio" >

               <button id="botonReporteCVN2" class="btn btn-warning" type="submit">Rep. C.Nominal Total</button>


        </form>

  </div>




<input type="hidden" style="display: none" id="encabezado_id" name="encabezado_id" >





 <!--    <input class="button" id="handler-explode" type="button" value="Efecto Explode" />   -->



  <div class="row form-group">
            <div class="col-md-12" id="div">
                 <label class="col-md-2 control-label" for="origen" >Buscar Plazas:
                    <span style="color:red;">*
                    </span>
                 </label>
                 <div class="col-md-2">
                     <div class="input-group">
                           <input class="form-control" type="text" id="origen" disabled="disabled">
                           <span class="input-group-btn">
                              <button class="btn btn-default" type="button" id="a-modalMio">
                                 <span class="glyphicon glyphicon-search">
                                 </span>
                              </button>
                           </span>
                     </div>
                 </div>

                  <div class="col-md-6" id="anioPlazas">

                  </div>
            </div>

  </div>

</br>


<div id="advertenciaAnioPlaza" class='alert alert-warning' style="text-align:center;display:none;">

</div>




<div id="el_div" class='alert alert-warning' style="text-align:center;display:none;">
 <h3>El servidor ya tenia una plaza asignada </h2>
</div>




<!--

<div>
           <input type="button"    value="Aceptar"  id="botonEfecto" />


            <div id="el_div" style="background-color: #D3EADF; width: 800px;display:none">


               <h2>El servidor ya tenia una plaza asignada </h2>


            </div>
</div>

-->


</br>



<!--
<form class="form-horizontal">
     <div class="col-md-12" >

           <strong style="font-size: 18px;">Dependencia:
           </strong>

           <strong  id="nom_depen1" style="font-size: 16px; color: #00585f;">
           </strong>
     </div>
</form>

-->




</br>


  <form class="form-horizontal" id="form_tabla_plazas">

        <div id="tablaPlazas">

        </div>
  </form>


    <div class="nota-informativa"   id="explode">

        Asignación realizada con exito!!!

    </div>



     <div class="nota-informativa2"   id="explodeConDoblePlaza">

            El servidor ya tenia una plaza asignada!!!

        </div>


     <div id="modalSegundaAsignacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


             </div>



     <div id="modal-unidadesMio" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


             </div>




    <div id="modalServidores2" class="modal fade" tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true">

        </div>

    <div id="modalServidores" class="modal fade" tabindex="-1"  role="dialog"  aria-labelledby="myModalLabel"  aria-hidden="true">

    </div>


    <div   id="modalDependencias"  class="modal fade"  tabindex="-1"   role="dialog"  aria-labelledby="myModalLabel"   aria-hidden="true">

    </div>



    <div id="advertenciaInconsistenciaAgregarAsignacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div>


    <div id="advertenciaInconsistenciaEliminarAsignacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div>

    <div id="modalEliminarAsignacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div>

</fieldset>






<style type="text/css">
   .nota-informativa {
   padding:5px;
   width:180px;
   text-align:center;
   background-color:#FFEE88;
   position:fixed;
   display:none;
   left:10px;
   bottom:10px;
   box-shadow:0 0 5px #555;
   }
</style>




<style type="text/css">
   .nota-informativa2 {
   padding:5px;
   width:180px;
   text-align:center;
   background-color:#FFEE88;
   position:fixed;
   display:none;
   left:10px;
   bottom:70px;
   box-shadow:0 0 5px #555;
   }
</style>



