<label class="col-md-4 control-label" for="select-origenes">Origen </label>

<div class="col-md-8">
    <select id="select-origenes" class="form-control">
        {{#each items}}
            <option value="{{origenCodigo}}">{{origenCodigo}} - {{origenDescripcion}}</option>
        {{/each}}
    </select>
</div>