<form class="form-horizontal well">

    <div class="row form-group">
        <div class="col-md-6">
            <label class="col-md-3 control-label">Dependencia</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input class="form-control" type="text" disabled>
                    <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="origen_unidad"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label class="col-md-3 control-label">Mes</label>
            <div class="col-md-9">
                <select id="select-mes" class="form-control">

                    <option value="1">ENERO</option>
                    <option value="2" >FEBRERO</option>
                    <option value="3">MARZO</option>
                    <option value="4">ABRIL</option>
                    <option value="5">MAYO</option>
                    <option value="6">JUNIO</option>
                    <option value="7">JULIO</option>
                    <option value="8" selected="">AGOSTO</option>
                    <option value="9">SETIEMBRE</option>
                    <option value="10">OCTUBRE</option>
                    <option value="11">NOVIEMBRE</option>
                    <option value="12">DICIEMBRE</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
             <label class="col-md-3 control-label">Año</label>
            <div class="col-md-9">
                <select class="form-control">
                    <option >2016</option>
                    <option >2015</option>
                    <option selected="">2014</option>
                    <option >2013</option>
                    <option >2012</option>
                    <option >2011</option>
                    <option >2010</option>
                    <option >2009</option>
                    <option >2008</option>
                    <option >2007</option>
                    <option >2006</option>
                    <option >2005</option>
                    <option >2004</option>
                </select>
            </div>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="row form-group">
         <div class="col-md-6">
             <label class="col-md-5 control-label">Tipo de servidor</label>
             <div class="col-md-7">
                 <select class="form-control">
                     <option >CAS</option>
                 </select>
             </div>

         </div>
        <div class="col-md-2">
            <a class="btn btn-primary">Mostrar</a>
        </div>

    </div>
</form>
